<template>
      <div class="container">
        <div v-if="weather" class="weatherInfo">
          <WeatherIcon :weatherId="weather.current.weather[0].id"/>
          <div class="description">
            <p class="country">{{weather.timezone.split('/')[0]}}</p>
            <h2 class="city">{{weather.timezone.split('/')[1]}}</h2>
            <p class="weatherInfo">{{(weather.current.temp > 0 ? '+' : '') + Math.round(weather.current.temp)}}&#x2103;, {{weather.current.weather[0].description}}</p>
          </div>
        </div>
        <p v-if="errorText" class="error">{{errorText}}</p>
        <div class="coordinationsForm">
          <input class="input" placeholder="Введите координаты" v-model="valueInput">
          <button @click="handleClick" class="button">Показать</button>
        </div>
      </div>
</template>

<script>
import {api} from '@/core/api'
import WeatherIcon from "@/components/WeatherIcon.vue";

export default {
  name: 'WeatherTab',
  components: {WeatherIcon},
  props: {
    msg: String
  },
  data() {
    return {
      valueInput: "",
      coordinates: "",
      errorText: "",
      params: null,
      weather: null,
    }
  },
  methods: {
    async handleClick() {
      if (!this.valueInput) return;

      this.weather = null;
      this.errorText = null;

      this.coordinates = this.valueInput.split(', ')
      this.params = {
        lat: this.coordinates[0],
        lon: this.coordinates[1],
        appid: 'bd5e378503939ddaee76f12ad7a97608',
        units: 'metric',
        lang: 'ru',
      }
      const response = await api.get('/data/2.5/onecall', this.params)

      if (response.cod) {
        this.errorText = response.message;
      } else {
        this.weather = response;
      }

      this.valueInput = ""
    }
  }
}

</script>

<style scoped>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00000019;
    background-color: #54BEF145;
    width: 400px;
    border-radius: 5px;
    padding: 30px 40px;
  }

  .weatherInfo {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .city {
    overflow-wrap: break-word;
    font-size: 24px;
    margin-bottom: 10px;
  }

  .description {
    margin-left: 20px;
    flex: 1;
    overflow: hidden;
  }

  .country {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 3px;
  }

  .weatherInfo {
    font-size: 18px;
  }

  .coordinationsForm {
    display: flex;
    gap: 0.5em;
    margin-top: 20px;
  }

  .input {
    height: 24px;
    border: 2px solid #00000019;
    border-radius: 5px;
    padding: 5px;
  }

  .button {
    cursor: pointer;
    color: #ffffff;
    background-color: #77c1e3;
    border: none;
    border-radius: 5px;
    padding: 3px 5px;
    text-align: center;
  }

  .error {
    color: red;
  }
</style>
