<template>
  <div>
    <img v-if="weatherIcon === 'Clouds'" src="../assets/Clouds.png" alt="Clouds" class="img" />
    <img v-if="weatherIcon === 'Clear'" src="../assets/Clear.svg" alt="Clears" class="img" />
    <img v-if="weatherIcon === 'Atmosphere'" src="../assets/Atmosphere.png" alt="Atmosphere" class="img" />
    <img v-if="weatherIcon === 'Snow'" src="../assets/Snow.png" alt="Snow" class="img" />
    <img v-if="weatherIcon === 'Rain'" src="../assets/Rain.png" alt="Rain" class="img" />
    <img v-if="weatherIcon === 'Drizzle'" src="../assets/Drizzle.png" alt="Drizzle" class="img" />
    <img v-if="weatherIcon === 'Thunderstorm'" src="../assets/Thunderstorm.png" alt="Thunderstorm" class="img" />
  </div>
</template>
<script>

export default {
    name: 'WeatherIcon',
    props: {
      weatherId: Number
    },
    computed: {
      weatherIcon() {
        switch (true) {
          case this.weatherId > 800: return 'Clouds';
          case this.weatherId === 800: return 'Clear';
          case this.weatherId > 700: return 'Atmosphere';
          case this.weatherId > 600: return 'Snow';
          case this.weatherId > 500: return 'Rain';
          case this.weatherId > 300: return 'Drizzle';
          case this.weatherId > 200: return 'Thunderstorm';
          default: return 'unknown'
        }
      }
    }
  }
</script>
<style scoped>
  .img {
    width: 100px;
    height: 100px;
  }
</style>