<template>
  <WeatherTab msg="Welcome to Your Vue.js App"/>
</template>

<script>
import WeatherTab from './components/WeatherTab.vue'

export default {
  name: 'App',
  components: {
    WeatherTab
  }
}
</script>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
</style>
